$small-breakpoint : 1024px;
$medium-breakpoint : 1440px;
$large-breakpoint : 1920px;
$extra-large-breakpoint : 2500px;

@mixin extra-small-breakpoint() {
  @media (max-width: $small-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin small-breakpoint() {
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin medium-breakpoint() {
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin large-breakpoint() {
  @media (min-width: $large-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin extra-large-breakpoint() {
  @media (min-width: $extra-large-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin breakpoint-padding ($xs, $sm, $md, $lg, $xl : ''){
  @media (max-width: $small-breakpoint) {
    padding: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    padding: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    padding: $md;
  }
  @media (min-width: $large-breakpoint) {
    padding: $lg;
  }
  @if($xl != ''){
    @media (min-width: $extra-large-breakpoint) {
      padding: $xl;
    }
  }
}

@mixin breakpoint-padding-left ($xs, $sm, $md, $lg, $xl : ''){
  @media (max-width: $small-breakpoint) {
    padding-left: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    padding-left: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    padding-left: $md;
  }
  @media (min-width: $large-breakpoint) {
    padding-left: $lg;
  }
  @if($xl != ''){
    @media (min-width: $extra-large-breakpoint) {
      padding-left: $xl;
    }
  }
}

@mixin breakpoint-padding-right ($xs, $sm, $md, $lg, $xl : ''){
  @media (max-width: $small-breakpoint) {
    padding-right: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    padding-right: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    padding-right: $md;
  }
  @media (min-width: $large-breakpoint) {
    padding-right: $lg;
  }
  @if($xl != ''){
    @media (min-width: $extra-large-breakpoint) {
      padding-right: $xl;
    }
  }
}

@mixin breakpoint-margin ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    margin: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    margin: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    margin: $md;
  }
  @media (min-width: $large-breakpoint) {
    margin: $lg;
  }
}

@mixin breakpoint-margin-left ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    margin-left: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    margin-left: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    margin-left: $md;
  }
  @media (min-width: $large-breakpoint) {
    margin-left: $lg;
  }
}

@mixin breakpoint-margin-right ($xs, $sm, $md, $lg, $xl : ''){
  @media (max-width: $small-breakpoint) {
    margin-right: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    margin-right: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    margin-right: $md;
  }
  @media (min-width: $large-breakpoint) {
    margin-right: $lg;
  }
  @if($xl != ''){
    @media (min-width: $extra-large-breakpoint) {
      margin-right: $xl;
    }
  }
}

@mixin breakpoint-margin-top ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    margin-top: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    margin-top: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    margin-top: $md;
  }
  @media (min-width: $large-breakpoint) {
    margin-top: $lg;
  }
}

@mixin breakpoint-margin-bottom ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    margin-bottom: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    margin-bottom: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    margin-bottom: $md;
  }
  @media (min-width: $large-breakpoint) {
    margin-bottom: $lg;
  }
}

@mixin breakpoint-width ($xs, $sm, $md, $lg, $xl : ''){
  @media (max-width: $small-breakpoint) {
    width: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    width: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    width: $md;
  }
  @media (min-width: $large-breakpoint) {
    width: $lg;
  }
  @if($xl != ''){
    @media (min-width: $extra-large-breakpoint) {
      width: $xl;
    }
  }
}

@mixin breakpoint-min-width ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    min-width: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    min-width: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    min-width: $md;
  }
  @media (min-width: $large-breakpoint) {
    min-width: $lg;
  }
}

@mixin breakpoint-max-width ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    max-width: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    max-width: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    max-width: $md;
  }
  @media (min-width: $large-breakpoint) {
    max-width: $lg;
  }
}

@mixin breakpoint-height ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    height: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    height: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    height: $md;
  }
  @media (min-width: $large-breakpoint) {
    height: $lg;
  }
}

@mixin breakpoint-max-height ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    max-height: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    max-height: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    max-height: $md;
  }
  @media (min-width: $large-breakpoint) {
    max-height: $lg;
  }
}

@mixin breakpoint-left ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    left: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    left: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    left: $md;
  }
  @media (min-width: $large-breakpoint) {
    left: $lg;
  }
}

@mixin breakpoint-top ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    top: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    top: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    top: $md;
  }
  @media (min-width: $large-breakpoint) {
    top: $lg;
  }
}

@mixin breakpoint-right ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    right: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    right: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    right: $md;
  }
  @media (min-width: $large-breakpoint) {
    right: $lg;
  }
}

@mixin breakpoint-font-size ($xs, $sm, $md, $lg, $xl : ''){
  @media (max-width: $small-breakpoint) {
    font-size: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    font-size: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    font-size: $md;
  }
  @media (min-width: $large-breakpoint) {
    font-size: $lg;
  }
  @if($xl != ''){
    @media (min-width: $extra-large-breakpoint) {
      font-size: $xl;
    }
  }
}

@mixin breakpoint-display ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    display: $xs;
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    display: $sm;
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    display: $md;
  }
  @media (min-width: $large-breakpoint) {
    display: $lg;
  }
}

@mixin breakpoint-flex-basis ($xs, $sm, $md, $lg){
  @media (max-width: $small-breakpoint) {
    @include flex-basis($xs);
  }
  @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
    @include flex-basis($sm);
  }
  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    @include flex-basis($md);
  }
  @media (min-width: $large-breakpoint) {
    @include flex-basis($lg);
  }
}