.horizontal-scroll-utility{
  @include display-flex();
  @include flex-align-items(center);
  overflow: hidden;
  width: 100%;

  .scroll-arrow{
    @include flex(0, 0, auto);
    @include flex-align-self(center);
    padding: 5px;
    color: $_mwp_gray-lighter;
    opacity: 0.5;
    transition: 0.2s;
    font-size: $_mwp_font-size-medium;
    cursor: pointer;

    .fa:not(:first-child){
      margin-left: -10px;
    }

    &:hover{
      color: $_mwp_gray-base;
      opacity: 1;
    }

    &.left-scroll-arrow{

    }
    &.right-scroll-arrow{

    }
  }

  .scroll-content{
    @include display-flex();
    @include flex(1, 1, 0);
    overflow-x: auto;
    overflow-y: hidden;
  }
}