@import "bootstrap/mixins";
@import "fonts/MwpIcons/icons";

@mixin arrow($size, $back, $front) {

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;

  }
  &:before {
    //margin-left: -(($size + 2)/2 + 1);
    margin-left: -($size + 2);
    border-bottom: ($size + 2) solid $back;
    border-left: ($size + 2) solid transparent;
    border-right: ($size + 2) solid transparent;
    z-index: 10;
  }
  &:after {
    //margin-left: -($size/2);
    margin-left: -$size;
    border-bottom: $size solid $front;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    z-index: 11;
  }

}

@mixin arrow-bottom($size, $back, $front) {

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;

  }
  &:before {
    margin-left: -($size + 2);
    border-top: ($size + 2) solid $back;
    border-left: ($size + 2) solid transparent;
    border-right: ($size + 2) solid transparent;
    z-index: 10;
  }
  &:after {
    margin-left: -$size;
    border-top: $size solid $front;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    z-index: 11;
  }

}

@mixin arrow-left($size, $back, $front) {

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;

  }
  &:after {
    margin-left: -($size + 2);
    border-bottom: ($size + 2) solid transparent;
    border-top: ($size + 2) solid transparent;
    border-right: ($size + 2) solid $back;
    z-index: 10;
  }
  &:before {
    margin-left: -$size;
    border-bottom: $size solid transparent;
    border-top: $size solid transparent;
    border-right: $size solid $front;
    z-index: 11;
  }

}

@mixin arrow-right($size, $back) {
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
  }
  &:before {
    border-bottom: $size solid transparent;
    border-left: $size solid $back;
    border-top: $size solid transparent;
    z-index: 10;
  }
}

@mixin toggle-arrow($state, $color, $side: 'left', $size: 5px) {
  @if $state == 'init' {
    &:after {
      content: '';
      border-left: $size solid $color;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      cursor: pointer;
      position: absolute;
      top: 50%;
      @if $side == 'left' {
        left: $size + 3px;
      }
      @if $side == 'right' {
        right: $size + 3px;
      }
      margin-top: -$size;
    }
  } @else if $state == 'expand' {
    &:after {
      border-top: $size solid $color;
      border-right: $size solid transparent;
      border-left: $size solid transparent;
      margin-top: -$size + 3px;
      @if $side == 'left' {
        left: $size;
      }
      @if $side == 'right' {
        right: $size;
      }
    }
  }
}

// Animation and transition mixins

@mixin mwp-transition($transition-properties, $transition-duration) {
  -webkit-transition-property: $transition-properties;
  -webkit-transition-duration: $transition-duration;
  -moz-transition-property: $transition-properties;
  -moz-transition-duration: $transition-duration;
  -o-transition-property: $transition-properties;
  -o-transition-duration: $transition-duration;
  transition-property: $transition-properties;
  transition-duration: $transition-duration;
}

@mixin text-overflow-ellipsis(){
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin blur($blur){
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

.apps-icon {
  background-repeat: no-repeat;
  display: inline-block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .apps-icon {
  }
}

.apps-icon-backups {
  @extend .apps-icon;

  @extend .fa-briefcase;
}

.apps-icon-billing {
  @extend .apps-icon;
}

.apps-icon-branding-options {
  @extend .apps-icon;
}

.apps-icon-clone {
  @extend .apps-icon;
}

.apps-icon-code_snippets {
  @extend .apps-icon;
}

.apps-icon-history {
  @extend .apps-icon;
}

.apps-icon-pages {
  @extend .apps-icon;
}

.apps-icon-plugins {
  @extend .apps-icon;
}

.apps-icon-posts {
  @extend .apps-icon;
}

.apps-icon-reports {
  @extend .apps-icon;
  @extend .fa-area-chart;
}

.apps-icon-settings {
  @extend .apps-icon;
  @extend .fa-cog;
}

.apps-icon-sub_users {
  @extend .apps-icon;
}

.apps-icon-themes {
  @extend .apps-icon;
}

.apps-icon-users {
  @extend .apps-icon;
}

@mixin menu-icon() {
  background: rgba(30, 30, 30, 0.3);

  &:hover {
    background: rgba(30, 30, 30, 0.7);
  }

  &.pinned {
    background-color: rgba(162, 204, 229, 0.4);
    @include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.6), 0 -1px 1px 0 rgba(255, 255, 255, 0.8));
    @extend .fa-check;
    &:before {
      font-family: $icon-font-name;
      position: absolute;
      bottom: 2px;
      right: 6px;
      font-size: 16px;
      color: #86c14d;
      text-shadow: -1px -1px 1px rgba(26, 26, 26, 0.5);
    }
  }
  &.coming-soon {
    opacity: 0.3;
    cursor: default !important;
  }
}

@mixin status-border-left($color) {
  border-left: 5px solid $color;
}

@mixin lighter-text-shadow() {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@mixin darker-text-shadow() {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@mixin menu-divider () {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  @include box-shadow(0px 1px 0px 0px #466169);
}

@mixin light-shadow(){
  @include box-shadow(0px 1px 0px 1px rgba(209, 209, 209, 0.2));
}
//
//@mixin user-select($state) {
//  -webkit-touch-callout: $state;
//  -webkit-user-select: $state;
//  -khtml-user-select: $state;
//  -moz-user-select: $state;
//  -ms-user-select: $state;
//  user-select: $state;
//}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin translateX($translate) {
  @include transform(translateX($translate));
}

@mixin keyframes($name) {
  @-moz-keyframes #{$name} {
    @content;
  }

  @-webkit-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-khtml-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin scale3d($scale-x: 1, $scale-y: 1, $scale-z: 1) {
  @include transform(scale3d($scale-x, $scale-y, $scale-z));
}

@mixin pretty-scrollbar {
  /** Scrollbar */
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  }
}
@mixin border-radius($border-radius) {
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
@mixin appearance($appearance) {
  -moz-appearance: $appearance;
  -webkit-appearance: $appearance;
  appearance: $appearance;
}
