/* COLOR EVALUATION WORDING
 *   _dark
 *   _deep
 *   _strong
 *   _clean
 *   _smooth
 *   _light
 *   _whitened
 */

$color_clean-blue: #246EB9;

$color_smooth-green: #4CB944;

$color_yellow-light: #F5EE9E;
$color_yellow-whitened: #FDFFFC;

$color_orange-light: #F06543;

$color_gray-whitened: #e9e9e9;