@mixin arrow($size, $back, $front) {

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;

  }
  &:before {
    //margin-left: -(($size + 2)/2 + 1);
    margin-left: -($size + 2);
    border-bottom: ($size + 2) solid $back;
    border-left: ($size + 2) solid transparent;
    border-right: ($size + 2) solid transparent;
    z-index: 10;
  }
  &:after {
    //margin-left: -($size/2);
    margin-left: -$size;
    border-bottom: $size solid $front;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    z-index: 11;
  }

}

@mixin arrow-bottom($size, $back, $front) {

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;

  }
  &:before {
    margin-left: -($size + 2);
    border-top: ($size + 2) solid $back;
    border-left: ($size + 2) solid transparent;
    border-right: ($size + 2) solid transparent;
    z-index: 10;
  }
  &:after {
    margin-left: -$size;
    border-top: $size solid $front;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    z-index: 11;
  }

}

@mixin arrow-left($size, $back, $front) {

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;

  }
  &:after {
    margin-left: -($size + 2);
    border-bottom: ($size + 2) solid transparent;
    border-top: ($size + 2) solid transparent;
    border-right: ($size + 2) solid $back;
    z-index: 10;
  }
  &:before {
    margin-left: -$size;
    border-bottom: $size solid transparent;
    border-top: $size solid transparent;
    border-right: $size solid $front;
    z-index: 11;
  }

}

@mixin arrow-right($size, $back) {
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
  }
  &:before {
    border-bottom: $size solid transparent;
    border-left: $size solid $back;
    border-top: $size solid transparent;
    z-index: 10;
  }
}

@mixin toggle-arrow($state, $color, $side: 'left', $size: 5px) {
  @if $state == 'init' {
    &:after {
      content: '';
      border-left: $size solid $color;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      cursor: pointer;
      position: absolute;
      top: 50%;
      @if $side == 'left' {
        left: $size + 3px;
      }
      @if $side == 'right' {
        right: $size + 3px;
      }
      margin-top: -$size;
    }
  } @else if $state == 'expand' {
    &:after {
      border-top: $size solid $color;
      border-right: $size solid transparent;
      border-left: $size solid transparent;
      margin-top: -$size + 3px;
      @if $side == 'left' {
        left: $size;
      }
      @if $side == 'right' {
        right: $size;
      }
    }
  }
}

// Animation and transition mixins

@mixin mwp-transition($transition-properties, $transition-duration) {
  -webkit-transition-property: $transition-properties;
  -webkit-transition-duration: $transition-duration;
  -moz-transition-property: $transition-properties;
  -moz-transition-duration: $transition-duration;
  -o-transition-property: $transition-properties;
  -o-transition-duration: $transition-duration;
  transition-property: $transition-properties;
  transition-duration: $transition-duration;
}

@mixin text-overflow-ellipsis(){
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin blur($blur){
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

.apps-icon {
  background-repeat: no-repeat;
  display: inline-block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .apps-icon {
  }
}


@mixin menu-icon() {
  background: rgba(30, 30, 30, 0.3);

  &:hover {
    background: rgba(30, 30, 30, 0.7);
  }

  &.pinned {
    background-color: rgba(162, 204, 229, 0.4);
    @include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.6), 0 -1px 1px 0 rgba(255, 255, 255, 0.8));
    &:before {
      font-family: $icon-font-name;
      position: absolute;
      bottom: 2px;
      right: 6px;
      font-size: 16px;
      color: #86c14d;
      text-shadow: -1px -1px 1px rgba(26, 26, 26, 0.5);
    }
  }
  &.coming-soon {
    opacity: 0.3;
    cursor: default !important;
  }
}

@mixin status-border-left($color) {
  border-left: 5px solid $color;
}

@mixin lighter-text-shadow() {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@mixin darker-text-shadow() {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@mixin menu-divider () {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  @include box-shadow(0px 1px 0px 0px #466169);
}

@mixin light-shadow(){
  @include box-shadow(0px 1px 0px 1px rgba(209, 209, 209, 0.2));
}
//
//@mixin user-select($state) {
//  -webkit-touch-callout: $state;
//  -webkit-user-select: $state;
//  -khtml-user-select: $state;
//  -moz-user-select: $state;
//  -ms-user-select: $state;
//  user-select: $state;
//}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin translateX($translate) {
  @include transform(translateX($translate));
}

@mixin keyframes($name) {
  @-moz-keyframes #{$name} {
    @content;
  }

  @-webkit-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-khtml-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin scale3d($scale-x: 1, $scale-y: 1, $scale-z: 1) {
  @include transform(scale3d($scale-x, $scale-y, $scale-z));
}

@mixin pretty-scrollbar {
  /** Scrollbar */
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  }
}
@mixin border-radius($border-radius) {
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
@mixin appearance($appearance) {
  -moz-appearance: $appearance;
  -webkit-appearance: $appearance;
  appearance: $appearance;
}

@mixin display-flex() {
  display: flex;
  display: -webkit-flex;
}

@mixin display-inline-flex() {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.display-flex{
  @include display-flex;
}

.display-inline-flex{
  @include display-inline-flex;
}

@mixin flex-basis($basis) {
  -webkit-flex-basis: $basis;
  flex-basis: $basis;
}

@mixin flex($grow: 0, $shrink: 0, $basis: 0) {
  -webkit-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}

@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  flex-grow: $grow;
}

@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

@mixin flex-align-content($align) {
  align-content: $align;
  -webkit-align-content: $align;
}

@mixin flex-align-items($align) {
  align-items: $align;
  -webkit-align-items: $align;
}

@mixin flex-align-self($align) {
  align-self: $align;
  -webkit-align-self: $align;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
}

@mixin flex-justify-content($justify) {
  justify-content: $justify;
  -webkit-justify-content: $justify;
}

@mixin flex-center() {
  @include display-flex();
  @include flex-direction(column);
  @include flex-justify-content(center);
  @include flex-align-items(center);
}

@for $i from 1 through 12 {
  ._mwp_grid-#{$i} {
    @include flex($i, $i, 0);
  }
}

// Animations
@mixin animation($animation) {
  -webkit-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}
@mixin animation-name($name) {
  -webkit-animation-name: $name;
  animation-name: $name;
}
@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
  animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
  animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
  animation-direction: $direction;
}
@mixin animation-fill-mode($fill-mode) {
  -webkit-animation-fill-mode: $fill-mode;
  animation-fill-mode: $fill-mode;
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`

@mixin backface-visibility($visibility){
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

// Drop shadows
//
// Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
// supported browsers that have box shadow capabilities now support it.

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

// CSS3 Content Columns
@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  column-count: $column-count;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  column-gap: $column-gap;
}

// Optional hyphenation
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
  -moz-hyphens: $mode;
  -ms-hyphens: $mode; // IE10+
  -o-hyphens: $mode;
  hyphens: $mode;
}

// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

// Transformations
@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
  -ms-transform: scale($ratio); // IE9 only
  -o-transform: scale($ratio);
  transform: scale($ratio);
}

@mixin scaleX($ratio) {
  -webkit-transform: scaleX($ratio);
  -ms-transform: scaleX($ratio); // IE9 only
  -o-transform: scaleX($ratio);
  transform: scaleX($ratio);
}
@mixin scaleY($ratio) {
  -webkit-transform: scaleY($ratio);
  -ms-transform: scaleY($ratio); // IE9 only
  -o-transform: scaleY($ratio);
  transform: scaleY($ratio);
}
@mixin skew($x, $y) {
  -webkit-transform: skewX($x) skewY($y);
  -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
  -o-transform: skewX($x) skewY($y);
  transform: skewX($x) skewY($y);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y); // IE9 only
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees); // IE9 only
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
@mixin rotateX($degrees) {
  -webkit-transform: rotateX($degrees);
  -ms-transform: rotateX($degrees); // IE9 only
  -o-transform: rotateX($degrees);
  transform: rotateX($degrees);
}
@mixin rotateY($degrees) {
  -webkit-transform: rotateY($degrees);
  -ms-transform: rotateY($degrees); // IE9 only
  -o-transform: rotateY($degrees);
  transform: rotateY($degrees);
}
@mixin perspective($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  perspective: $perspective;
}
@mixin perspective-origin($perspective) {
  -webkit-perspective-origin: $perspective;
  -moz-perspective-origin: $perspective;
  perspective-origin: $perspective;
}
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin; // IE9 only
  transform-origin: $origin;
}


// Transitions

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin transition-property($transition-property...) {
  -webkit-transition-property: $transition-property;
  transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
  transition-timing-function: $timing-function;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}


// User select
// For selecting text on the page

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  user-select: $select;
}
